body{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
/* header */
.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}
.header__logo{
    display: flex;
}
.navbar__list{
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0px;
}
.navbar__list a{
    text-decoration: none;
    color: #000;
}
.navbar__list--item{
    padding: 0 10px;
}
.navbar__list--item > a:hover{
    color: #999;
}
.header__btn{
    border: none;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
}
.header__btn:hover{
    transform: scale(1.1);
    transition: 1s;
}
/* section top */
.section{
    display: flex;
    flex-wrap: wrap;
    margin:0 20px;
}
.section__text{
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex: 4 100px;
    padding: 20px;
}
.section__text > h2{
    color: #FFF;
}
.section__text > p{
    color: #999;
}
.section__text > button{
    border: 0;
    background-color: transparent;
    color: #FFF;
    border-bottom: 1px solid #FFF;
    cursor: pointer;
}
.section__text > button:hover{
    color: #ccc;
}
.section__photo{
    flex: 6 200px;
}
/* photo */
.main{
    display: flex;
    flex-direction: column;
    margin:0 20px;
}
.main__content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.content__photo{
    flex: 6 200px;

}
.content__text{
    flex: 4 100px;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
    flex: 4 100px;
    padding: 20px;
}
.content__text > p{
    color: #999;
}
.content__text > button{
    border: 0;
    background-color: transparent;
    color: #000;
    border-bottom: 1px solid #000;
    cursor: pointer;
}
.content__text > button:hover{
    color: #ccc;
}
@media (max-width:1200px){
    .chng{
        order:-1;
    }
}
/* section gallery */
.gallery{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0 20px;
}
.gallery__item{
    color: #fff;
    background-size: cover;
    background-position: center;
    height: 300px;
    height: 200px;
    width:auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    width: 100%;
}
.gallery__item:nth-child(1){
    background-image: url(https://cosmosmagazine.com/wp-content/uploads/2020/02/190218-mount-full-1440x810.jpg);
}
.gallery__item:nth-child(2){
    background-image: url(https://images.unsplash.com/photo-1477959858617-67f85cf4f1df?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8Y2l0eXxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80);
}
.gallery__item:nth-child(3){
    background-image: url(https://images.unsplash.com/photo-1586022045497-31fcf76fa6cc?ixid=MXwxMjA3fDB8MHxzZWFyY2h8N3x8aGlraW5nfGVufDB8fDB8&ixlib=rb-1.2.1&w=1000&q=80);
}
.gallery__item:nth-child(4){
    background-image: url(https://i.pinimg.com/736x/39/dd/7a/39dd7a203ad50426eed93eb229780623.jpg);
}
.gallery__item > p{
    border-bottom: 1px solid #ccc;
    margin: 40px;
}
.gallery__item > button{
    border: 0;
    background-color: transparent;
    color: #FFF;
    border-bottom: 1px solid #FFF;
    cursor: pointer;
}
.gallery__item > button:hover{
    color: #ccc;
}
@media (max-width: 1200px){
    .gallery{
        flex-wrap: wrap;
    }
}
/* services */
.services{
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.services__item{
    width: 200px;
    text-align: left;
    padding: 50px;
}
.services__item>p{
    color: #333;
}
/* footer */
.footer{
    display: flex;
    background-color: #000;
    padding: 20px;
    justify-content: space-around;
}
.footer__left{
    display: flex;
}
.social{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.social__logo{
    display: flex;
}
.social__logo h3{
    color: #fff;
}
.social__list{
    display: flex;
    list-style: none;
}
.social__list--item img{
    width: 50px;
    height: 35px;
}
.fona__list{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.fona__list a{
    text-decoration: none;
    color: #999;
}
.fona__list a:hover{
    color: #FFF;
}
.footer__right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer__right > button{
    border: 0;
    background-color: transparent;
    color: #FFF;
    border-bottom: 1px solid #FFF;
    cursor: pointer;
}
.footer__right > button:hover{
    color: #ccc;
}
.footer__right > p{
    color: #ccc;
}
@media (max-width: 1200px){
    .footer{
        flex-direction: column;
        align-items: center;
    }
    .footer__left{
        flex-direction: column;
        align-items: center;
    }
}